<HTML>
<HEAD><TITLE>Om !!! Brokerage Detail</TITLE>
{literal}
<SCRIPT language = "javascript">
function conf(expiryId)
{
	if(confirm("Are You Sure You want to Delete Record?"))
			location.href="expiryDelete.php?expiryId="+expiryId;
	else
  		location.href="expiryList.php";
}
</SCRIPT>
{/literal}
</HEAD>
<BODY bgColor="#FFCEE7">
<A href="./index.php">Home</A>&nbsp;&nbsp;&nbsp;&nbsp;
<A href="./expiryEntry.php">Add Expiry</A>
<TABLE BORDER=1 cellSpacing="0" cellPadding="3">
  <TR>
    <TD><B>Item</B></TD>
    <TD><B>ExpiryDate</B></TD>
    <TD><B>Delete</B></TD>
  </TR>

  {section name=sec1 loop=$i}
    <TR>
      <TD>{$itemName[sec1]}</TD>
      <TD>{$expiryDate[sec1]}</TD>
      <TD><A href="javascript: conf({$expiryId[sec1]});">Delete</A></TD>
    </TR>
  {/section}
</TABLE>
</BODY>
</HTML>