<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<title>Standing From CSV</title>
</head>
<body>
<A href="index.php">Home</A>&nbsp;&nbsp;<A href="mnuStand.php">Menu</A>&nbsp;&nbsp;<br /><br />

<form enctype="multipart/form-data" action="" name="form1" method="POST"> 
<input size="60" type="hidden" name="filePath" /><BR>
File Name: <input name="fileName" type="file" />
<input type="submit" name="submitBtn" value="Submit File" /> 
</FORM>
</body>
</html>