<HTML>
<HEAD>
	<TITLE>Add Exchange</TITLE>
	{literal}
<SCRIPT language="javascript">
function conf(exchangeId)
{
  if(confirm("Do u Want to Delete this record"))
 	  location.href = "exchangeDelete.php?exchangeId="+exchangeId
}
</SCRIPT>
{/literal}
</HEAD>
<BODY>
  <FORM name="form1" action="{$PHP_SELF}" method=POST>
  <A href="./index.php">Home</A>
  <TABLE align="center" border=1 cellPadding="2" cellSpacing="0">
  <TR>
    <INPUT type="hidden" name="exchangeId" value="{$exId}">
    <TD>Exchange :</TD>
    <TD><INPUT type="text" name="exchange" value="{$ex}"></TD>
  </TR>
  <TR>
    <TD>Multiply :</TD>
    {if $multiStatus == 0}
	  <TD valign="center" align="left"><input type="checkbox" name="multiply" value="1"/></TD>
	  {else}
	  <TD valign="center" align="left"><input type="checkbox" name="multiply" value="1" checked/></TD>
	  {/if}
  </TR>
  <TR>
    <TD>Profit Bank Rate :</TD>
    <TD><INPUT type="text" name="profitBankRate" value="{$profitBankRateGet}"></TD>
  </TR> <TR>
    <TD>Loss Bank Rate :</TD>
    <TD><INPUT type="text" name="lossBankRate" value="{$lossBankRateGet}"></TD>
  </TR>
    <TD colspan="2" align="center"><INPUT type="submit" name="submitBtn" value="Store !"></TD>
  </TR>
  </TABLE>
  </FORM>
  <TABLE align="center" border=1 cellPadding="2" cellSpacing="0">
  <TR>
    <TH> &nbsp;  </TH>
    <TH> &nbsp;  </TH>
    <TH> Exchange  </TH>
    <TH> Multiply  </TH>
    <TH> Profit Bank Rate  </TH>
    <TH> Loss Bank Rate  </TH>
  </TR>
  {section name=sec loop=$exchangeId}
  <TR>
    <TD align="center"><a onClick="javascript: return conf({$exchangeId[sec]});" href="#">Delete</a></TD>
    <TD align="center"><a href="exchangeAdd.php?exchangeId={$exchangeId[sec]}">Edit</a></TD>
    <TD>{$exchange[sec]}</TD>
    <TD>
      {if $multiply[sec] == 1}
        Yes
      {else}
        No
      {/if}
    </TD>
    <TD align="right">{$profitBankRate[sec]}</TD>
    <TD align="right">{$lossBankRate[sec]}</TD>
  </TR>
  {/section}
  </TABLE>
</BODY>
</HTML>