<HTML>
<HEAD><TITLE></TITLE></HEAD>
<A href="index.php">Home</A>
<BODY>
    <TABLE border="1" cellspacing="0" cellpadding="0">
    <TR>
      <TH NOWRAP>Sr No</TH>
      <TH NOWRAP>Bhavcopy Date</TH>
      <TH NOWRAP>Session Id</TH>
      <TH NOWRAP>Market Type</TH>
      <TH NOWRAP>Instrument Id</TH>
      <TH NOWRAP>Instrument Name</TH>
      <TH NOWRAP>Contract Code</TH>
      <TH NOWRAP>Expiry Date</TH>
      <TH NOWRAP>Strike Price</TH>
      <TH NOWRAP>Option Type</TH>
      <TH NOWRAP>Previous Close Price</TH>
      <TH NOWRAP>Open Price</TH>
      <TH NOWRAP>High Price</TH>
      <TH NOWRAP>Low Price</TH>
      <TH NOWRAP>Closing Price</TH>
      <TH NOWRAP>Total Qty Traded</TH>
      <TH NOWRAP>Total Value Traded(in 1000)</TH>
      <TH NOWRAP>Life Time High</TH>
      <TH NOWRAP>Life Time Low</TH>
      <TH NOWRAP>Quote Units</TH>
      <TH NOWRAP>Settlement Price</TH>
      <TH NOWRAP>No Of Trades</TH>
      <TH NOWRAP>Open Interest</TH>
      <TH NOWRAP>Avg Traded Price</TH>
    </TR>
     	{section name="sec1" loop=$row}
     	<TR>
      <TD>-</TD>
     	<TD>{$bcDate[sec1]}</TD>
     	<TD>{$sessionId[sec1]}</TD>
     	<TD>{$marketType[sec1]}</TD>
     	<TD>{$instrumentId[sec1]}</TD>
     	<TD>{$sessionId[sec1]}</TD>
     	<TD>{$instrumentName[sec1]}</TD>
     	<TD>{$contractCode[sec1]}</TD>
     	<TD>{$expiryDate[sec1]}</TD>
     	<TD>{$strikePrice[sec1]}</TD>
     	<TD>{$optionType[sec1]}</TD>
     	<TD>{$previousPrice[sec1]}</TD>
     	<TD>{$openPrice[sec1]}</TD>
     	<TD>{$highPrice[sec1]}</TD>
     	<TD>{$lowPrice[sec1]}</TD>
     	<TD>{$closingPrice[sec1]}</TD>
     	<TD>{$totalQtyTrade[sec1]}</TD>
     	<TD>{$totalValueTrade[sec1]}</TD>
     	<TD>{$lifeHigh[sec1]}</TD>
     	<TD>{$lifeLow[sec1]}</TD>
     	<TD>{$quoteUnit[sec1]}</TD>
     	<TD>{$settlementPrice[sec1]}</TD>
     	<TD>{$noOfTrades[sec1]}</TD>
     	<TD>{$openInterest[sec1]}</TD>
     	<INPUT type="hidden" name="bcDate[]" value="{$bcDate[sec1]}">
     	<INPUT type="hidden" name="sessionId[]"	value="{$sessionId[sec1]}">
     	<INPUT type="hidden" name="marketType[]"	value="{$marketType[sec1]}">
     	<INPUT type="hidden" name="instrumentId[]" value="{$instrumentId[sec1]}">
     	<INPUT type="hidden" name="sessionId[]" 	value="{$sessionId[sec1]}">
     	<INPUT type="hidden" name="instrumentName[]" 	value="{$instrumentName[sec1]}">
     	<INPUT type="hidden" name="contractCode[]" value="{$contractCode[sec1]}">
     	<INPUT type="hidden" name="expiryDate[]" value="{$expiryDate[sec1]}">
     	<INPUT type="hidden" name="strikePrice[]" 	value="{$strikePrice[sec1]}">
     	<INPUT type="hidden" name="optionType[]" value="{$optionType[sec1]}">
     	<INPUT type="hidden" name="previousPrice[]" 	value="{$previousPrice[sec1]}">
     	<INPUT type="hidden" name="openPrice[]" 	value="{$openPrice[sec1]}">
     	<INPUT type="hidden" name="highPrice[]" 	value="{$highPrice[sec1]}">
     	<INPUT type="hidden" name="lowPrice[]" value="{$lowPrice[sec1]}">
     	<INPUT type="hidden" name="closingPrice[]" value="{$closingPrice[sec1]}">
     	<INPUT type="hidden" name="totalQtyTrade[]" 	value="{$totalQtyTrade[sec1]}">
     	<INPUT type="hidden" name="totalValueTrade[]" 	value="{$totalValueTrade[sec1]}">
     	<INPUT type="hidden" name="lifeHigh[]" value="{$lifeHigh[sec1]}">
     	<INPUT type="hidden" name="lifeLow[]" 	value="{$lifeLow[sec1]}">
     	<INPUT type="hidden" name="quoteUnit[]" 	value="{$quoteUnit[sec1]}">
     	<INPUT type="hidden" name="settlementPrice[]" 	value="{$settlementPrice[sec1]}">
     	<INPUT type="hidden" name="noOfTrades[]" value="{$noOfTrades[sec1]}">
     	<INPUT type="hidden" name="openInterest[]" value="{$openInterest[sec1]}">
     	<INPUT type="hidden" name="" value="">
     	<INPUT type="hidden" name="" value="">
     	
    </TR>
    {/section}
      	
</TABLE>      
<FORM name="submitDataForm" action="storeTxtData.php" method="post">
<INPUT type="hidden" name="uploadFileName" value="om.txt" >
<INPUT type="submit" name="submitData" value="Submit Me....!">
</FORM>       
</BODY>       
</HTML>       
              
              
